<div class="form_container">
 <br> 
<h1>HEY USER</h1>
<br>
<h3>Join our team by signing in :</h3>
<br>
    <mat-form-field>
        <input matInput placeholder="Full Name" required>
      </mat-form-field>
<br>
      <mat-form-field>
          <input  matInput placeholder="Age " >
        </mat-form-field>
<br>
      <mat-form-field>
          <input #input maxlength="10" matInput placeholder="Phone Number" required >
        </mat-form-field>
<br>
  <mat-form-field>
    <input matInput placeholder="Enter your email" required>
 </mat-form-field >
 <br> 
 <div class="centdiv">
    <button mat-raised-button color="warn">Sign me!</button>
 </div>

<br>
<br>
</div>